body { 
    background-color: #85fef2c1;
    font-family: 'Courier New', Courier, monospace;
    color: #aa16ffc1
}
.nav_bar {
    font-size: 30px;
    font-weight: bold;
}
.container { 
    margin-top: 70px;
}
.row {

}
.col-8 {

}
.photo {
    background: url(../image/photo.jpg) no-repeat center center;
    background-size: 100%;
    width: 360px;
    height: 540px;
}
.col-3 {

}

.nav_logo {
    background: url(../image/admiral.png) no-repeat center center;
    background-size: 100%;
    width: 80px;
    height: 80px;
}
.col-9 {

}
.nav_text {
    display: flex;
    align-items: center;
    justify-content: right;
}
.img_size {

}
.title_photo {
    text-align: center;
}